html, body {
	height: 100%;
	font-family:'Roboto';
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -80px;
	padding-bottom:40px;
}

.container{
	max-width:650px;
}

#footer,#push{height:40px;}

#footer{background-color:#bbb;color:#666;}
#footer .container{line-height:40px;}

.login{max-width:300px;margin-top:200px;border:1px solid #bbb;padding:10px;background-color:#eee;}
.huge{font-size:100px;font-weight:100;}
.mini-date{font-size:9px;}

.token{font-size:11px;display:block;float:left;margin:5px 5px;padding:5px;background-color:#eee;}
/**.token{display:none;}/**/